extends ../layout/public

block contenido
    section(class="space-y-4 mt-5")
        h2(class="text-center font-bold text-2xl")= pagina
        if propiedades.length
            div(class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-5 mt-5")
                each propiedad in propiedades 
                    include ../templates/cardInicio
                if cantEnlacesPaginas > 1
                    div(class="bg-zinc-50 px-4 py-4 flex items-center justify-between sm:px-6 mt-4 mb-4")
                        div(class="hidden sm: sm:flex sm:flex-1 sm:items-center sm:justify-between")
                            p(class="text-zinc-700 text-sm gap-2 ") Mostrando  
                                span(class=" font-medium") #{offset + 1} al 
                                span(class=" font-medium") #{total < limit + offset ? total : limit + offset} de 
                                span(class=" font-medium") #{cantPropiedades} 

                        div(class="hidden sm:block")
                            nav(class="relative z-0 inline-flex rounded-md shadow-md")
                                - var n = 1 
                                    while n <= cantEnlacesPaginas
                                        a(href=`/categorias/${categoriaId}?pagina=${n}` class=`${currentPageNumber == n ? "bg-blue-50 border-indigo-400 text-indigo-500" : "hover:bg-zinc-100 hover:border-zinc-300 hover:text-zinc-900"} relative inline-flex items-center px-4 py-2 border text-sm font-medium`) #{n++}
        else    
            p(class="text-center text-zinc-400") No hay resultados



